@import url("./font.css");
html,body{
    margin: 0;
    font-size: 16px;}
h1,h2,h3,h4,p,figure{margin: 0;}
ul,li{list-style-type: none; margin: 0; padding: 0;}
img{vertical-align: middle;}
a{color:#fff; text-decoration: none;}

*{box-sizing: border-box;}


::after,::before,a,i,em,strong,b,code{
    display: inline-block;
    
}

/* header */
header{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    padding: 20px 0;
    z-index: 999;            /* 가장 우선순위 */
    
    
}
header > div{
    width: 86%; 
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div > nav{
    position: relative;                    /*nav와 button을 같은 위치에 정렬하기 위해 position 사용 */
}             /* 가로 */
header > div > nav > button{
    width: 26px;    
    height: 16px;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer; /* 모든태그 허용 */ 
    
}
    header > div > nav > button > span{
        position: absolute;
        left: 0;
        width: 100%;
        border-top: 2px solid #fff;
        transition: 0.3s;
    }
    header > div > nav > button > span:nth-child(1){
        top:0;
    }
    header > div > nav > button > span:nth-child(2){
        top:50%;
    }
    header > div > nav > button > span:nth-child(3){
        top:100%;
    }


    header > div > nav > button:hover > span:nth-child(1){
        top:50%;
        transform: rotate(45deg);
    }
    header > div > nav > button:hover > span:nth-child(2){
        top:50%;
        transform: translateX(100%); opacity:0;
    }
    header > div > nav > button:hover > span:nth-child(3){
        top:50%;
        transform: rotate(-45deg);
    }
header > div > nav > button:hover + div{
    display: block;                             /* 형제요소로 묶어줄때에는 '+' 사용 */
}

header > div > nav > div{
    display: none;
    position: absolute;
    left: 0;
    top:40px;
    background-color: #000;
}
header > div > nav > div > a{
    display: block;
    color:#fff;
    padding: 10px;
    text-align: center;
}

header > div > h1{ }       /* 가로 */                                           
    header > div > h1 > a{
        font-family: "Broadway";
        text-transform: uppercase;    /*대문자*/
        font-size: 2rem;       
    }

header > div > div.lang{
    position: relative;                            /* 가로 */
    font-size: 0.8rem;
}               
    header > div > div.lang > p{
        color: #fff;
    }

    header > div > div.lang>p:hover + ul{
        display: block;                             /* 형제요소로 묶어줄때에는 '+' 사용 */
    }
    header > div > div.lang > p::after{
        content: "▼";
        font-size: 6px;
        transform: scale(0.8);
    }
    header > div > div.lang > ul{
        display: none;
        position: absolute;
        left: 0;
        bottom: 0px;
        border: 1px solid #ddd;
        border-bottom-width: 0;
        transform: translateY(100%);
        color: #fff;
    }
    header > div > div.lang > ul > li{
        border-bottom: 1px solid #ddd;
        padding: 6px 20px;
    }

/* main */

/* footer */

/* button */

/* popup */

/* input */

/* table */


/* ============================================================================================================
===============================max 767 ==========================================================================
================================================================================================================ */
@media (max-width:767px) {
    header{
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        padding: 20px 0;
        z-index: 999;            /* 가장 우선순위 */
        
    }
    header > div{
        width: 86%; 
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header > div > nav{
        position: relative;                    /*nav와 button을 같은 위치에 정렬하기 위해 position 사용 */
    }             /* 가로 */
    header > div > nav > button{
        width: 26px;    
        height: 16px;
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer; /* 모든태그 허용 */ 
        
    }
        header > div > nav > button > span{
            position: absolute;
            left: 0;
            width: 100%;
            border-top: 2px solid #fff;
            transition: 0.3s;
        }
        header > div > nav > button > span:nth-child(1){
            top:0;
        }
        header > div > nav > button > span:nth-child(2){
            top:50%;
        }
        header > div > nav > button > span:nth-child(3){
            top:100%;
        }
    
    
        header > div > nav > button:hover > span:nth-child(1){
            top:50%;
            transform: rotate(45deg);
        }
        header > div > nav > button:hover > span:nth-child(2){
            top:50%;
            transform: translateX(100%); opacity:0;
        }
        header > div > nav > button:hover > span:nth-child(3){
            top:50%;
            transform: rotate(-45deg);
        }
    header > div > nav > button:hover + div{
        display: block;                             /* 형제요소로 묶어줄때에는 '+' 사용 */
    }
    
    header > div > nav > div{
        display: none;
        position: absolute;
        left: 0;
        top:40px;
        background-color: #000;
    }
    header > div > nav > div > a{
        display: block;
        color:#fff;
        padding: 10px;
        text-align: center;
    }
    
    header > div > h1{ }       /* 가로 */                                           
        header > div > h1 > a{
            font-family: "Broadway";
            text-transform: uppercase;    /*대문자*/
            font-size: 2rem;       
        }
    
    header > div > div.lang{
        position: relative;                            /* 가로 */
        font-size: 0.8rem;
    }               
        header > div > div.lang > p{
            color: #fff;
        }
    
        header > div > div.lang>p:hover + ul{
            display: block;                             /* 형제요소로 묶어줄때에는 '+' 사용 */
        }
        header > div > div.lang > p::after{
            content: "▼";
            font-size: 6px;
            transform: scale(0.8);
        }
        header > div > div.lang > ul{
            display: none;
            position: absolute;
            left: 0;
            bottom: 0px;
            border: 1px solid #ddd;
            border-bottom-width: 0;
            transform: translateY(100%);
            color: #fff;
        }
        header > div > div.lang > ul > li{
            border-bottom: 1px solid #ddd;
            padding: 6px 20px;
        }
}