@import "_media";

// index.scss

$size: 1400px;
$bg: #ddd;
$font-name: 'dotum';

@mixin flex($n:flex, $a:flex-start){
    display: $n;                 //flex 정의
    align-items: $a;

    @content;
}

// @include flex(flex,center){
//    justify-content: space-between
// };                  //flex 호출 - include는 실행할 곳에다가 붙여주기 

main{
    background-color: $bg;
    font-family: $font-name;
}
article{
    max-width: $size;                 // max-width값을 여러군데에 받는다. (내용의 모든 요소를 한번에 바꿔야 할때 유용)
    margin: 0 auto;
    text-align: center;

    h2{max-width: $size;}
    ul{ 
        @include flex(){justify-content: center};
        li{
            @include flex(flex,center);
            // display: flex;
            width: 30%;
            // align-items: center; 
            &::after{   // li::after 대신에 &::after로 부모요소 표시
                content: '';
                flex-grow: 1;
                border-bottom: 1px solid #000;
            }
        }
    }    
}

.bg{
    margin: 100px auto;
    width: 1400px;
    >div{
        display: flex;
        p{
            width: 300px;
            height: 200px;
        }

        $array : (1:'01.png', 2:'02.png', 3:'03.png');

        // @each $i,$name in $array{
        //     p:nth-of-type(#{$i}){
        //         background: url('../img/#{$name}') 0 0 / cover no-repeat;
        //     }
        // } 

        @for $i from 1 to 4{

            // nth($array,2)

            p:nth-of-type(#{$i}){
                background: url('../img/#{nth($array,$i)}') 0 0 / cover no-repeat;
            }
        }
    }
}
